html{
  scroll-behavior: smooth;
}

.ul1 {
      list-style: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: gray;
      border-radius: 25px;
      width: 378px;
  size
    }

.ul2 {
  background-color: whitesmoke;
}

  li a {
      float: left;
    }

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px;
  text-decoration: none;
}    

a{
position: relative;
display: inline-block;
padding: ;
text-transform: uppercase;
letter-spacing: ;
color: #03e9f4;
font-size: 1.2rem;
font-weight: bold;
transition: .5s;
overflow: hidden;
margin-right: 10px;
}

a:hover {
background-color: #03e9f4;
  border-radius: 15px;
color: #050801;
box-shadow: 0 0 5px #03e9f4,
            0 0 25px #03e9f4,
            0 0 50px #03e9f4,
            0 0 200px #03e9f4;
-webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

li i {
  color: white;
}

.infa {
  background-color: yellow;
}

.logo{
  border-radius: 25px;
  background: linear-gradient(to right, #30CFD0 0%, #1589FF 100%);
  -webkit-background-clip: text;
  color: transparent;
}
label {
  background: linear-gradient(yellow, white); 
}
p {
  background: linear-gradient(yellow, white);
}

.flip{
  transform: scaleX(-1);
  transition: transform 1s;
}

.flip:hover{
  transform: scaleX(1);
}

.krestikinoliki {
  display: inline-block;
  text-decoration: none;
  border: none;
  border-radius: 5%;
  background-color: #ff0000;
  font-size: 16px;
  text-align: center;
  padding: 10px 10px;
  color: aqua;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  transition: background-color 0.3s ease;
}

.krestikinoliki:hover {
  background-color: blue;
}

.spinner {
  position: absolute;
  width: 9px;
  height: 9px;
  margin: 100px;
}

.spinner div {
  position: absolute;
  width: 50%;
  height: 150%;
  background: #000000;
  transform: rotate(calc(var(--rotation) * 1deg)) translate(0, calc(var(--translation) * 1%));
  animation: spinner-fzua35 1s calc(var(--delay) * 1s) infinite ease;
}

.spinner div:nth-child(1) {
  --delay: 0.1;
  --rotation: 36;
  --translation: 150;
}

.spinner div:nth-child(2) {
  --delay: 0.2;
  --rotation: 72;
  --translation: 150;
}

.spinner div:nth-child(3) {
  --delay: 0.3;
  --rotation: 108;
  --translation: 150;
}

.spinner div:nth-child(4) {
  --delay: 0.4;
  --rotation: 144;
  --translation: 150;
}

.spinner div:nth-child(5) {
  --delay: 0.5;
  --rotation: 180;
  --translation: 150;
}

.spinner div:nth-child(6) {
  --delay: 0.6;
  --rotation: 216;
  --translation: 150;
}

.spinner div:nth-child(7) {
  --delay: 0.7;
  --rotation: 252;
  --translation: 150;
}

.spinner div:nth-child(8) {
  --delay: 0.8;
  --rotation: 288;
  --translation: 150;
}

.spinner div:nth-child(9) {
  --delay: 0.9;
  --rotation: 324;
  --translation: 150;
}

.spinner div:nth-child(10) {
  --delay: 1;
  --rotation: 360;
  --translation: 150;
}

@keyframes spinner-fzua35 {
  0%, 10%, 20%, 30%, 50%, 60%, 70%, 80%, 90%, 100% {
    transform: rotate(calc(var(--rotation) * 1deg)) translate(0, calc(var(--translation) * 1%));
  }

  50% {
    transform: rotate(calc(var(--rotation) * 1deg)) translate(0, calc(var(--translation) * 1.5%));
  }
